.timerDefault{
    font-size:500%;
    text-align:center;
    vertical-align:middle;
    //background-color: white;
}

.timerGreenLight{
    font-size:400%;
    text-align:center;
    vertical-align:middle;
    background-color: green;
}

.timerYellowLight{
    font-size:400%;
    text-align:center;
    vertical-align:middle;
    background-color: yellow;
}

.timerRedLight{
    font-size:400%;
    text-align:center;
    vertical-align:middle;
    background-color: red;
}
.dim
{    
    opacity: 0.4;
    text-align:center;
    vertical-align:middle;
}
.appName{
    font-size:200%;
    text-align:left;
    vertical-align:middle;
}
.titleBarBackground{
    background-color: purple;
}