<h2>Speech Coach  v.1.2.0</h2>
Speech Coach is set tools to help you improve public speaking & presentation skills ideal for students, teachers,
toastmaster clubs and business professionals.  <br/><br/>Speech Coach is available on multiple mobile platforms, visit our website for more details.
<br/><br/>
<h3>Features</h3>

* Speech timer with light indicators just like toastmasters.<br/>
* Count up or count down option.<br/>
* Progress bar indicator that fills up or down<br/>
* Green, yellow and red indicator lights for minimum, warning & maximum speech times. <br/>
* Manage speaker names<br/>
* Preset speakers to get you started quickly<br/>
* Preset speech lengths to get you started quickly<br/>
* Timings history grouped by Speech.<br/>
* Evaluate speakers's grammar using the ah counter<br/>
* Evaluate & rate speeches<br/><br/>

<h3>Benefits</h3>
* Helps you improve speech/presentation times.<br/>
* Capture practice speech times to help improve timing and delivery.<br/>
* Evaluate other speakers<br/>
<br/><br/>
<h4>Copyright 2013 Object-Oriented Sharks, LLC. All rights reserved.</h4>